

body {
    color: #FFF;
    background-color: #282C38;
    font-family: 'Open Sans', sans-serif;
}

/*
#wiper{display:none;opacity:.9;position:fixed;z-index:2}
#wiper circle{fill:transparent}.reversed #wiper{-webkit-transform:scaleX(-1);-moz-transform:scaleX(-1);-o-transform:scaleX(-1);-ms-transform:scaleX(-1);transform:scaleX(-1)}
*/